<div style="text-align: center; font-size: 5rem; font-weight: bold; margin-top: 4rem; margin-bottom: 2.5rem;">Point
  Poker
</div>
<!--<mat-card *ngFor="let issue of issue; let i = index"-->
<!--          style="margin-top: 1rem; margin-bottom: 1rem; margin-left: 20%; margin-right: 20%; padding-top: 1rem; padding-bottom: 1rem">-->
<!--  <div (click)="openIssue = ( openIssue === i + 1 ? 0 : i + 1 )" style="text-align: center">-->
<!--    {{issue.name}}-->
<!--  </div>-->
<!--  <div *ngIf="openIssue === i+1" style="padding-left: 10%; padding-right: 10%">-->
<!--    <mat-divider style="width:90%; margin-left: 5%"></mat-divider>-->
<!--    <div style="padding-top: 2rem; padding-bottom: 2rem;">{{issue.text}}</div>-->
<!--  </div>-->
<!--</mat-card>-->

<mat-expansion-panel *ngFor="let issue of issue; let n = index"
                     style="margin-top: 1rem; margin-bottom: 1rem; margin-left: 20%; margin-right: 20%; padding-top: 1rem; padding-bottom: 1rem">
  <mat-expansion-panel-header>
    <mat-panel-title>
      #{{issue.number}} {{issue.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{issue.text}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button mat-flat-button color="primary"
          style="margin-top: .25rem; margin-bottom: .25rem; margin-right: .5rem; margin-left: .5rem"
          *ngFor="let points of storyPoints" ng-click="">
    {{points}} SP
  </button>
</mat-expansion-panel>
